<% include partials/header %>
	 <% include partials/groupSidebar %>
    <!-- Page Content -->

    <div id="page">
		 <div id="chat-list">
			  <a href="/users/@me" class="user"><%= channel.channel_name %></a>
			  <p class="groupHeader">Channels <a href="#"><i class="fa fa-plus fa-fw fa-xs"></i></a></p>
			  <ul class="chat-list scroll-hijack">
				 <li><a href="#" class="activeChannel">#  Announcements</a></li>
				 <li><a href="#">#  Gaming</a></li>
				 <li><a href="#">#  Book Club</a></li>
			  </ul>
			  <p class="groupHeader"><i class="fas fa-caret-down"></i> Messages <a href="#"><i class="fa fa-plus fa-fw fa-xs"></i></a></p>
			  <ul class="chat-list scroll-hijack">
				 <li><a href="#">Omes000</a></li>
				 <li><a href="#">Ajawak</a></li>
				 <li><a href="#">Mstchmn</a></li>
				 <li><a href="#">Wiseguy97, Omes000 & 3 others</a></li>
			  </ul>
		 </div>
        <!-- <div id="chat-list">
            <a href="#" class="user"><%= channel.channel_name %></a>

            <h7 style="margin:10px 10px 0 0; padding: 5px 0 0 0"><a href="#">#  Gaming</a></h7>
            <ul class="chat-list scroll-hijack">
                  <li><a href="#" class="user"><div class="avatar"><img src="/img/placeholder-avatar<%= Math.floor((Math.random() * 7) + 1) %>.jpg" /></div>random2948</a></li>
                  <li><a href="#" class="user"><div class="avatar"><img src="/img/placeholder-avatar<%= Math.floor((Math.random() * 7) + 1) %>.jpg" /></div>random13</a></li>
                  <% channel.participant.forEach(function(participant){ %>
                      <%if(participant._id.equals(currentUser._id)){ %>

                      <% }else if(participant.online === true){ %>
                          <li><a href="#" class="user"><div class="avatar"><img src="/img/placeholder-avatar<%= Math.floor((Math.random() * 7) + 1) %>.jpg" /></div><%= participant.username %></a></li>
                      <% }else{ %>
                          <li><a href="#"><div class="avatar"><img src="/img/placeholder-avatar<%= Math.floor((Math.random() * 7) + 1) %>.jpg" /></div><%= participant.username %></a></li>
                      <% } %>
                  <% }); %>
            </ul>
            <h7 style="margin:20px 20px 0 0; padding: 20px 0 0 0"><a href="#">#  Volleyball</a></h7>
            <ul class="chat-list scroll-hijack">
                  <li><a href="#" class="user"><div class="avatar"><img src="/img/placeholder-avatar<%= Math.floor((Math.random() * 7) + 1) %>.jpg" /></div>random2948</a></li>
                  <li><a href="#" class="user"><div class="avatar"><img src="/img/placeholder-avatar<%= Math.floor((Math.random() * 7) + 1) %>.jpg" /></div>random13</a></li>
                  <% channel.participant.forEach(function(participant){ %>
                      <%if(participant._id.equals(currentUser._id)){ %>

                      <% }else if(participant.online === true){ %>
                          <li><a href="#" class="user"><div class="avatar"><img src="/img/placeholder-avatar<%= Math.floor((Math.random() * 7) + 1) %>.jpg" /></div><%= participant.username %></a></li>
                      <% }else{ %>
                          <li><a href="#"><div class="avatar"><img src="/img/placeholder-avatar<%= Math.floor((Math.random() * 7) + 1) %>.jpg" /></div><%= participant.username %></a></li>
                      <% } %>
                  <% }); %>
            </ul>
            <h7 style="margin:20px 20px 0 0; padding: 20px 0 0 0"><a href="#">#  Book Club</a></h7>
            <ul class="chat-list scroll-hijack">
                  <li><a href="#" class="user"><div class="avatar"><img src="/img/placeholder-avatar<%= Math.floor((Math.random() * 7) + 1) %>.jpg" /></div>random2948</a></li>
                  <li><a href="#" class="user"><div class="avatar"><img src="/img/placeholder-avatar<%= Math.floor((Math.random() * 7) + 1) %>.jpg" /></div>random13</a></li>
                  <% channel.participant.forEach(function(participant){ %>
                      <%if(participant._id.equals(currentUser._id)){ %>

                      <% }else if(participant.online === true){ %>
                          <li><a href="#" class="user"><div class="avatar"><img src="/img/placeholder-avatar<%= Math.floor((Math.random() * 7) + 1) %>.jpg" /></div><%= participant.username %></a></li>
                      <% }else{ %>
                          <li><a href="#"><div class="avatar"><img src="/img/placeholder-avatar<%= Math.floor((Math.random() * 7) + 1) %>.jpg" /></div><%= participant.username %></a></li>
                      <% } %>
                  <% }); %>
            </ul>
        </div> -->
        <div id="chat" class="page">
            <div class="page-header clearfix">
                <span>#  Announcements</span>
                <ul>
                    <!-- <li><a title="Online" href="#">Online - 1</a></li> -->
                </ul>
            </div>
            <div class="chat-body scroll-hijack">
                    <% channel.message.forEach(function(message){ %>
                        <div class="chat-message">
                                <div class="avatar"><img src="/img/placeholder-avatar<%= Math.floor((Math.random() * 7) + 1) %>.jpg" /></div>
                                <div class="chat-message-content">
                                    <a href="#" class="chat-message-author"><%= message.author.name %></a>
                                    <span class="chat-message-date"><%= moment(message.created_at).format("lll")  %></span>
                                    <div class="chat-message-message">
                                            <%= message.text %>
                                    </div>
                                </div>
                        </div>
                    <% }); %>
            </div>
            <div class="chat-footer relative">
                <form id="message-form" action="">
                    <input name="message" type="text" class="post-input" placeholder="Your Text..." />
                    <button type="submit" class="post-button"><span class="caret-right"></span></button>
                </form>
            </div>
        </div>
    </div>

<% include partials/footer %>
